
/*========================================================================
 *
 * Colors
 *
 */


// Text colors

.blue-green { color: #1abc9c; }
.dark-blue-green { color: #16a085; }

.green { color: #2ecc71; }
.dark-green { color: #27ae60; }

.blue { color: #3498db; }
.dark-blue { color: #2980b9; }
.darker-blue { color: #23282d; }

.purple { color: #9b59b6; }
.dark-purple { color: #8e44ad; }

.grey-blue { color: #34495e; }
.dark-grey-blue { color: #2c3e50; }

.yellow { color: #f1c40f; }
.dark-yellow { color: #f39c12; }

.orange { color: #e67e22; }
.dark-orange { color: #d35400; }

.red { color: #e74c3c; }
.dark-red { color: #c0392b; }

.off-white { color: #ecf0f1; }
.dark-off-white { color: #bdc3c7; }

.grey { color: #95a5a6; }
.dark-grey { color: #7f8c8d; }

.white { color: #ffffff; }

// Background colors

.bg-blue-green { background-color: #1abc9c; }
.bg-dark-blue-green { background-color: #16a085; }

.bg-green { background-color: #2ecc71; }
.bg-dark-green { background-color: #27ae60; }

.bg-blue { background-color: #3498db; }
.bg-dark-blue { background-color: #2980b9; }
.bg-darker-blue { color: #23282d; }

.bg-purple { background-color: #9b59b6; }
.bg-dark-purple { background-color: #8e44ad; }

.bg-grey-blue { background-color: #34495e; }
.bg-dark-grey-blue { background-color: #2c3e50; }

.bg-yellow { background-color: #f1c40f; }
.bg-dark-yellow { background-color: #f39c12; }

.bg-orange { background-color: #e67e22; }
.bg-dark-orange { background-color: #d35400; }

.bg-red { background-color: #e74c3c; }
.bg-dark-red { background-color: #c0392b; }

.bg-off-white { background-color: #ecf0f1; }
.bg-dark-off-white { background-color: #bdc3c7; }

.bg-grey { background-color: #95a5a6; }
.bg-dark-grey { background-color: #7f8c8d; }

.bg-white { background-color: #ffffff; }

